<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
  <title>{% block title %} Home | Mantis Bootstrap 5 Admin Template {% endblock %}</title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
  <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
  <meta name="author" content="CodedThemes">
{% block css %}
  <!-- [Favicon] icon -->
  <!-- [Favicon] icon -->
<link rel="icon" href="{{ asset('assets/back/dist/assets/images/favicon.svg') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ asset('assets/styles.css') }}">

<!-- [Google Font] Family -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">

<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/tabler-icons.min.css') }}">

<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/feather.css') }}">

<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/fontawesome.css') }}">

<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/material.css') }}">

<!-- [Template CSS Files] -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/css/style.css') }}" id="main-style-link">
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/css/style-preset.css') }}">


{% endblock %}
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
  
  <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
 <!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
 
        <!-- Logo placé dans public/img/GYM.png -->
         <img src="{{ asset('img/GYM.png') }}" class="img-fluid logo-lg" alt="logo" style="display:block; width:200px; length:200px; margin-left:20px;">
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item">
          <a href="../dashboard/index.html" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>

         <li class="pc-item pc-caption">
          <label>Gestion De Produits</label>
          <i class="ti ti-dashboard"></i>
        </li>
         <li class="pc-item">
          <a href="{{ path('app_categorie_index') }}" class="pc-link">
          
            <span class="pc-micon"><i class="ti ti-folder"></i>
</span>
            <span class="pc-mtext">Liste Des Categories</span>
          </a>
        </li>
        <li class="pc-item">
           <a href="{{ path('app_produits_index') }}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-box"></i></i></span>
            <span class="pc-mtext">Liste Des Produits</span>
          </a>
        </li>
        <li class="pc-item">
            <a href="{{ path('app_commande_index') }}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-shopping-cart"></i></span>
            <span class="pc-mtext">Liste Des Commandes</span>
          </a>
        </li>

        <li class="pc-item pc-caption">
          <label>Gestion Des Evenements</label>
          <i class="ti ti-news"></i>
        </li>
         <li class="pc-item">
            <a href="{{ path('app_evenement_index') }}" class="pc-link">
              <span class="pc-micon"><i class="ti ti-calendar-event"></i>
</span>
              <span class="pc-mtext">Liste Des événements</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="{{ path('app_participation_index') }}" class="pc-link">
              <span class="pc-micon"><i class="ti ti-color-swatch"></i></span>
              <span class="pc-mtext">Liste Des participations</span>
            </a>
          </li>

        <li class="pc-item pc-caption">
          <label>Other</label>
          <i class="ti ti-brand-chrome"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">Menu
              levels</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="#!">Level 2.1</a></li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">Level 2.2<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">Level 2.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="pc-item">
          <a href="../other/sample-page.html" class="pc-link">
            <span class="pc-micon"><i class="ti ti-brand-chrome"></i></span>
            <span class="pc-mtext">Sample page</span>
          </a>
        </li>
      </ul>
      <div class="card text-center">
        <div class="card-body">
          <img src="../assets/images/img-navbar-card.png" alt="images" class="img-fluid mb-2">
          <h5>Upgrade To Pro</h5>
          <p>To get more features and components</p>
          <a href="https://codedthemes.com/item/berry-bootstrap-5-admin-template/" target="_blank"
          class="btn btn-success">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
<header class="pc-header" 
        style="position: fixed; 
               top: 0; 
               left: 40; 
              ">
  <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
<div class="me-auto pc-mob-drp">
  <ul class="list-unstyled">
    <!-- ======= Menu collapse Icon ===== -->
    <li class="pc-h-item pc-sidebar-collapse">
      <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
    <li class="pc-h-item pc-sidebar-popup">
      <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
    <li class="dropdown pc-h-item d-inline-flex d-md-none">
      <a
        class="pc-head-link dropdown-toggle arrow-none m-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <i class="ti ti-search"></i>
      </a>
      <div class="dropdown-menu pc-h-dropdown drp-search">
        <form class="px-3">
          <div class="form-group mb-0 d-flex align-items-center">
            <i data-feather="search"></i>
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
          </div>
        </form>
      </div>
    </li>
    <li class="pc-h-item d-none d-md-inline-flex">
      <form class="header-search">
        <i data-feather="search" class="icon-search"></i>
        <input type="search" class="form-control" placeholder="Search here. . .">
      </form>
    </li>
  </ul>
</div>
<!-- [Mobile Media Block end] -->
<div class="ms-auto">
  <ul class="list-unstyled">
    <li class="dropdown pc-h-item">
      <a
        class="pc-head-link dropdown-toggle arrow-none me-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <i class="ti ti-mail"></i>
      </a>
      <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
        <div class="dropdown-header d-flex align-items-center justify-content-between">
          <h5 class="m-0">Message</h5>
          <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
          <div class="list-group list-group-flush w-100">
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">3:00 AM</span>
                  <p class="text-body mb-1">It's <b>Cristina danny's</b> birthday today.</p>
                  <span class="text-muted">2 min ago</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="../assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">6:00 PM</span>
                  <p class="text-body mb-1"><b>Aida Burg</b> commented your post.</p>
                  <span class="text-muted">5 August</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="../assets/images/user/avatar-3.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">2:45 PM</span>
                  <p class="text-body mb-1"><b>There was a failure to your setup.</b></p>
                  <span class="text-muted">7 hours ago</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="../assets/images/user/avatar-4.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">9:10 PM</span>
                  <p class="text-body mb-1"><b>Cristina Danny </b> invited to join <b> Meeting.</b></p>
                  <span class="text-muted">Daily scrum meeting time</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="text-center py-2">
          <a href="#!" class="link-primary">View all</a>
        </div>
      </div>
    </li>
    <li class="dropdown pc-h-item header-user-profile">
      <a
        class="pc-head-link dropdown-toggle arrow-none me-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >
        <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
        <span>Stebin Ben</span>
      </a>
      <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
        <div class="dropdown-header">
          <div class="d-flex mb-1">
            <div class="flex-shrink-0">
              <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35">
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">Stebin Ben</h6>
              <span>UI/UX Designer</span>
            </div>
            <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
          </div>
        </div>
        <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="drp-t1"
              data-bs-toggle="tab"
              data-bs-target="#drp-tab-1"
              type="button"
              role="tab"
              aria-controls="drp-tab-1"
              aria-selected="true"
              ><i class="ti ti-user"></i> Profile</button
            >
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="drp-t2"
              data-bs-toggle="tab"
              data-bs-target="#drp-tab-2"
              type="button"
              role="tab"
              aria-controls="drp-tab-2"
              aria-selected="false"
              ><i class="ti ti-settings"></i> Setting</button
            >
          </li>
        </ul>
        <div class="tab-content" id="mysrpTabContent">
          <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1" tabindex="0">
            <a href="#!" class="dropdown-item">
              <i class="ti ti-edit-circle"></i>
              <span>Edit Profile</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-user"></i>
              <span>View Profile</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-clipboard-list"></i>
              <span>Social Profile</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-wallet"></i>
              <span>Billing</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-power"></i>
              <span>Logout</span>
            </a>
          </div>
          <div class="tab-pane fade" id="drp-tab-2" role="tabpanel" aria-labelledby="drp-t2" tabindex="0">
            <a href="#!" class="dropdown-item">
              <i class="ti ti-help"></i>
              <span>Support</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-user"></i>
              <span>Account Settings</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-lock"></i>
              <span>Privacy Center</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-messages"></i>
              <span>Feedback</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="ti ti-list"></i>
              <span>History</span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
 </div>
 </header>
<!-- [ Header ] end -->
{% block stylesheets %}
    <style>
        /* Palette violette */
        :root {
            --violet-principal: #6a0dad;
            --violet-clair: #9c27b0;
            --violet-pale: #e1bee7;
            --violet-fonce: #4a148c;
            --violet-gradient: linear-gradient(135deg, #6a0dad 0%, #9c27b0 100%);
            --texte-clair: #f3e5f5;
            --texte-fonce: #4a148c;
        }

        /* Style personnalisé pour le formulaire */
        .form-card {
            background: white;
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(106, 13, 173, 0.1);
            padding: 30px;
            margin-bottom: 30px;
            border: 1px solid var(--violet-pale);
        }
        
        .form-title {
            color: var(--violet-fonce);
            font-weight: 700;
            margin-bottom: 25px;
            padding-bottom: 15px;
            border-bottom: 2px solid var(--violet-pale);
            font-size: 1.5rem;
            background: var(--violet-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .form-group label {
            font-weight: 600;
            color: var(--violet-fonce);
            margin-bottom: 8px;
            display: block;
        }
        
        .form-control {
            border: 1px solid var(--violet-pale);
            border-radius: 8px;
            padding: 12px 15px;
            transition: all 0.3s;
            color: var(--violet-fonce);
        }
        
        .form-control:focus {
            border-color: var(--violet-clair);
            box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.25);
            outline: none;
        }
        
        .btn-primary {
            background: var(--violet-gradient);
            border: none;
            padding: 12px 25px;
            font-weight: 600;
            transition: all 0.3s;
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(106, 13, 173, 0.2);
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
        
        .btn-primary:hover {
            background: linear-gradient(135deg, #5a0b9e 0%, #8e24aa 100%);
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(106, 13, 173, 0.3);
            color: white;
        }
        
        .btn-secondary {
            background-color: white;
            border: 1px solid var(--violet-pale);
            color: var(--violet-fonce);
            padding: 12px 25px;
            font-weight: 600;
            transition: all 0.3s;
            border-radius: 8px;
        }
        
        .btn-secondary:hover {
            background-color: var(--violet-pale);
            color: var(--violet-fonce);
            transform: translateY(-2px);
        }
        
        .error-message {
            color: #f5365c;
            font-size: 0.875rem;
            margin-top: 5px;
            font-weight: 500;
        }
        
        select.form-control {
            appearance: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236a0dad'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-size: 15px;
            padding-right: 40px;
        }

        /* En-tête de page */
        .page-header h1 {
            color: var(--violet-fonce);
            position: relative;
            display: inline-block;
        }
        
        .page-header h1:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 50px;
            height: 3px;
            background: var(--violet-gradient);
            border-radius: 3px;
        }

        /* Carte principale */
        .card {
            border: none;
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(106, 13, 173, 0.08);
            overflow: hidden;
        }
        
        .card-header {
            background: var(--violet-gradient);
            color: white;
            border-bottom: none;
            padding: 20px;
        }

        /* Icônes */
        .ti {
            color: var(--violet-clair);
        }

        /* Champ fichier personnalisé */
        .custom-file-input {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
        
        .custom-file-input input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
        
        .custom-file-label {
            display: block;
            padding: 12px 15px;
            background-color: rgba(225, 190, 231, 0.3);
            border: 1px dashed var(--violet-clair);
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            color: var(--violet-fonce);
        }
        
        .custom-file-label:hover {
            background-color: rgba(225, 190, 231, 0.5);
            border-color: var(--violet-fonce);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pc-container">
        <div class="pc-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h1 class="mb-0">Créer un nouvel événement</h1>
                        </div>
              
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-card">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            {{ form_label(form.nom, 'Nom de l\'événement') }}
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.nom.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            {{ form_label(form.dateDebut, 'Date de début') }}
                                            {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.dateDebut.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            {{ form_label(form.dateFin, 'Date de fin') }}
                                            {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.dateFin.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            {{ form_label(form.localisation, 'Localisation') }}
                                            {{ form_widget(form.localisation, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.localisation.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            {{ form_label(form.description, 'Description') }}
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                                            {% for error in form.description.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            {{ form_label(form.frais, 'Frais de participation') }}
                                            {{ form_widget(form.frais, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.frais.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            {{ form_label(form.nombreDePlaces, 'Nombre de places') }}
                                            {{ form_widget(form.nombreDePlaces, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.nombreDePlaces.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-group mb-3">
                                            {{ form_label(form.photo, 'Photo (Image file)') }}
                                            {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                                            {% for error in form.photo.vars.errors %}
                                                <div class="error-message">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="ti ti-plus"></i> Créer
                                    </button>
                                </div>
                                
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}