{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block stylesheets %}


<link rel="icon" href="{{ asset('assets/back/dist/assets/images/favicon.svg') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ asset('assets/styles.css') }}">

<!-- [Google Font] Family -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">

<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/tabler-icons.min.css') }}">

<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/feather.css') }}">

<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/fontawesome.css') }}">

<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="{{ asset('assets/back/dist/assets/fonts/material.css') }}">


  
{% endblock %}

{% block body %}
    <div class="commande-container">
        <h1>Détails de la commande</h1>
        <a href="{{ path('commandeuser_pdf', {'id': commande.id}) }}" class="btn btn-primary" style="background-color:rgb(195, 177, 229)">
    <i class="fas fa-file-pdf"></i> Télécharger en PDF
</a>

 <div class="d-flex gap-2 mb-4" style="background-color:rgb(195, 177, 229); width:250px;">
           
           
        </div>
<table class="table" >

            <tbody>
              
                <tr><th>Date</th><td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td></tr>
                <tr><th>Localisation</th><td>{{ commande.localisation }}</td></tr>
                <tr><th>Téléphone</th><td>{{ commande.telephone }}</td></tr>
                <tr><th>Mail</th><td>{{ commande.mail }}</td></tr>
                <tr><th>Nombre</th><td>{{ commande.nombre }}</td></tr>
                <tr><th>Prix</th><td>{{ commande.prix }}</td></tr>
                <tr><th>Total</th><td>{{ commande.total }}</td></tr>
                <tr><th>Nom du produit</th><td>{{ commande.nomProduit }}</td></tr>
            </tbody>
        </table>

         <div class="d-flex gap-2" style="background-color:rgb(195, 177, 229); width:250px;" >
                <a href="{{ path('app_commandeuser_index') }}" class="btn " >
                    <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                </a>
                
               
                   
                    
                   
                </div>

        
    </div>
{% endblock %}
